@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.carousel {
  background: black;
  border: solid 5px black;
  border-radius: 4px;
}

.carouselText{
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px black;
  font-family: 'Open Sans', sans-serif
}
