@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.navbar {
  background-color: #010002;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  transition: color 0.3s;
}

.openMenu {
  color: #DAA520; 
  transition: color 0.3s;
}


.openMenu:hover {
  color: #E0E1E3;
}

.closeMenu {
  color: #DAA520; 
  transition: color 0.3s;
}


.closeMenu:hover {
  color: #E0E1E3;
}

.nav-menu {
  background-color: #010002;
  width: 250px;
  height: 100vh;
  display: flex;
  z-index: 100;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
 left: 0;
 transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 23px;
  font-family: 'Caveat', cursive;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: color 0.3s;
}

.nav-text a:hover {
  color: #DAA520;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #010002;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
}

span {
  margin-left: 16px;
}

.genNavLogo {
  position: absolute;
  right: 10px;
  top: 10px;
  max-width: 150px;
}

.logoutBtn {
  position: relative;
  display: inline-flex;
  color: white;
  font-family: 'Caveat', cursive;
  left: 0px;
  top: 800px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}